~Bk.gitignore

[Tt]humbs.db
[Dd]esktop.ini

#*.dll
*.o
*.obj
*.exe
*.pch
*.pdb
*.ilk
*.lastbuildstate
*.*.*.manifest
*.*.manifest
*.rc
*.*.*.*.res
*.res
*.*.*.*.tlog
*.tlog
*.ipch
*.sdf

# -OpenXcom root
*.ac
*.am
.astylerc
*.sh
CMakeLists.txt
#COPYING
#CHANGELOG.txt
#README.txt


# -bin/Win32
/bin/Win32/Debug/
/bin/Win32/Release/

# -cmake
/cmake/
#cmake/modules

# -deps
/deps/include/

# -docs
/docs/

# -install
/install/

# -m4
/m4/

# -obj/Win32
/obj/Win32/

# -res
#res/linux/icons
/res/linux/
/res/mac/

# -src
/src/ipch/
#src/ipch/*

# -temp
/temp/
/temp/*
